In [3]:
import pandas as pd
import numpy as np

In [7]:
#dataframe 생성
df = pd.DataFrame(
    {'AAA':[4,5,6,7],'BBB':[10,20,30,40],'CCC':[100,50,-30,-50]}
);
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [10]:
# AAA가 5이상인 행의 BBB를 -1로 변경
# 즉 loc[조건,행]의 결과는 해당 데이터를 가르키는 레퍼런스
df.loc[df.AAA >= 5 , 'BBB'] = -1;df

   AAA  BBB  CCC
0    4   10  100
1    5   -1  555
2    6   -1  555
3    7   -1  555

In [9]:
# AAA가 5이상인 행의 BBB,CCC를 555로 변경
df.loc[df.AAA>=5,['BBB','CCC']] = 555;df

   AAA  BBB  CCC
0    4   10  100
1    5  555  555
2    6  555  555
3    7  555  555

In [11]:
# AAA가 5미만인 행의 BBB,CCC를 2000으로 변경
df.loc[df.AAA < 5 ,['BBB','CCC']] = 2000;df

   AAA   BBB   CCC
0    4  2000  2000
1    5    -1   555
2    6    -1   555
3    7    -1   555

In [13]:
#리스트를 사용한 초기화
df_mask = pd.DataFrame({'AAA':[True]*4, 'BBB':[False]*4,'CCC':[True,False]*2});df_mask

    AAA    BBB    CCC
0  True  False   True
1  True  False  False
2  True  False   True
3  True  False  False

In [14]:
#df_mask 의 boolean 요소에 대해 false이면  -1000 
df.where(df_mask, -1000)

   AAA   BBB   CCC
0    4 -1000  2000
1    5 -1000 -1000
2    6 -1000   555
3    7 -1000 -1000

In [16]:
#logic이라는 열을 추가하는데 첫번째 조건에 만족하면  high, 아니면 low
df['logic'] = np.where(df['AAA'] > 5,'high','low');df

   AAA   BBB   CCC logic
0    4  2000  2000   low
1    5    -1   555   low
2    6    -1   555  high
3    7    -1   555  high

In [18]:
#dataframe 생성
df = pd.DataFrame( {'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]}); df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [17]:
#조건에대해 만족하는 행만
dflow = df[df.AAA <= 5]; dflow

   AAA   BBB   CCC logic
0    4  2000  2000   low
1    5    -1   555   low

In [18]:
#조건에 대해 만족하는 행만
dfhigh = df[df.AAA > 5]; dfhigh

   AAA  BBB  CCC logic
2    6   -1  555  high
3    7   -1  555  high

In [20]:
#dataframe 생성
df = pd.DataFrame( {'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]}); df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [21]:
#loc의 첫번째에 만족(AND)하는 행의 AAA
newseries = df.loc[ (df['BBB'] < 25) & (df['CCC'] >= -40), 'AAA' ];newseries

0    4
1    5
Name: AAA, dtype: int64

In [23]:
#loc의 첫번째에 만족(OR)하는 행의 AAA
newseries = df.loc[(df['BBB'] > 25) | (df['CCC'] >= -40), 'AAA']; newseries;

In [24]:
#loc의 첫번째에 만족(OR)하는 행의 AAA를 0.1로 변환
df.loc[(df['BBB'] > 25) | (df['CCC'] >= 75), 'AAA'] = 0.1; df

   AAA  BBB  CCC
0  0.1   10  100
1  5.0   20   50
2  0.1   30  -30
3  0.1   40  -50

In [25]:
#dataframe 생성
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]}); df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [26]:
aValue = 43.0

In [30]:
#CCC와 aValue의 차이에 대한 절대값의 정렬
df.loc[(df.CCC - aValue).abs().argsort()]

   AAA  BBB  CCC
1    5   20   50
0    4   10  100
2    6   30  -30
3    7   40  -50

In [31]:
#dataframe 생성
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]}); df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [49]:
#조건에 해당하는 dataframe
Crit1 = df.AAA <= 5.5

In [50]:
#조건에 해당하는 dataframe
Crit2 = df.BBB == 10.0

In [51]:
#조건에 해당하는 dataframe
Crit3 = df.CCC > -40.0

In [52]:
#조건에 해당하는 dataframe
AllCrit = Crit1 & Crit2 & Crit3; AllCrit

0     True
1    False
2    False
3    False
dtype: bool

In [55]:
CritList = [Crit1,Crit2,Crit3];

In [47]:
# Or it can be done with a list of dynamically built criteria
# CritList에서 행단위로 두개의 요소씩 검사했을때 모두 true인것만
# 즉 
import functools
AllCrit = functools.reduce(lambda x,y : x & y,CritList)

In [48]:
df[AllCrit]

   AAA  BBB  CCC
0    4   10  100